<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Салон красоты</title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Салон красоты , обучение " />

    <!-- //Meta Tags -->
    <!-- Style Sheets -->

    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// Bootstrap-CSS -->
    <link href="~/css/font-awesome.css" rel="stylesheet" />

    <!--// Font-Awesome-CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" property="" />
    <!--// Owl-Carousel-CSS -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Style Sheets -->
    <!-- web-fonts -->
    <link href="~/fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
    <link href="~/fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <!--// web-fonts -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>





    <div class="col-xs-12 col-sm-8">
        @RenderBody()
    </div>


</body>
</html>

<script type='text/javascript' src='~/js/jquery-2.2.3.min.js'></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.countup.js"></script>
<script defer src="~/js/jquery.flexslider.js"></script>
<script src="~/js/bootstrap.js"></script>
<script src="~/js/jarallax.js"></script>
<script src="~/js/owl.carousel.js"></script>
<script type="text/javascript" src="~/js/move-top.js"></script>
<script type="text/javascript" src="~/js/easing.js"></script>