
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- about -->
<div class="about">
    <div class="container">
        <div class="wthree_head_section animate__animated animate__zoomIn ">
            <h3 class="w3l_header ">О нас</h3>
            <p class="">
                Давайте позакомимся поближе
            </p>
        </div>
        <div class="ab-agile">
            <div class="col-md-6 aboutleft">
                <h3 class="animate__animated animate__fadeInLeft">Добро пожаловать</h3>
                <p class="para1 animate__animated animate__fadeInLeft">
                    Sister’s Family Beauty Studio - это студия красоты в Киеве, в прекрасном ЖК Комфорт Таун.
                    Мы профессионалы своего дела. В первую очередь для нас важен  результат и качество, 
                    а также комфорт и безопасность наших клиентов во время работы. Наша студия оснащена 
                    самым новейшим сертифицированным оборудованием. В процессе работы мы используем лучшие 
                    материалы высокого качества.
                </p>
                
            </div>
            <div class="col-md-6 aboutright animate__animated animate__fadeInRight">
                <img src="~/images/background_about.jpg" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- wthree-mid -->
<div class="wthree-mid jarallax">
    <img class="jarallax-img" style="overflow: hidden" src="~/images/33.jpeg" alt="">
    <div class="container">
        <h3 style="margin-top: 100px; margin-bottom: 100px; text-align: center">Мы делаем каждую женщину неповторимо прекрасной!</h3>

    </div>
</div>
<!-- //wthree-mid -->
<!-- Team section -->
<div class="about">
    <div class="container">

        <div class="ab-agile">
            <div class="col-md-6 aboutright">
                <img src="~/images/Kristina.jpg" class="img-responsive" alt="" />
            </div>
            <div class="col-md-6 aboutleft">
                <h3>Кристина Монастырская </h3>
                <p><i class="fa fa-check" aria-hidden="true"></i> Основатель Sisters Beauty Studio</p>
                <p>
                    <i class="fa fa-check" aria-hidden="true"></i> Практикующий мастер:
                    маникюра|педикюра, бровист, мастер шугаринга, мастер ламинирование бровей|ресниц,
                    мастер моментального загара,перманентного макияжа
                </p>
                <p><i class="fa fa-check" aria-hidden="true"></i> ️Опыт работы 7 лет </p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Преподаватель</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Опыт преподавания 4 года</p>
                <p class="para1">
                    📃Образование:<br />
                <p><i class="fa fa-book" aria-hidden="true"></i> 2011 - парикмахер универсал </p>
                <p><i class="fa fa-book" aria-hidden="true"></i>  2014 - мастер маникюра|педикюра,посещение разных курсов повышение квалификации  </p>
                <p><i class="fa fa-book" aria-hidden="true"></i> 2014 - мастер бровист / визажист</p>
                <p><i class="fa fa-book" aria-hidden="true"></i> 2015 - мастер шугаринга</p>
                <p><i class="fa fa-book" aria-hidden="true"></i>  2016 - мастер ламинирование бровей/ресниц</p>
                <p><i class="fa fa-book" aria-hidden="true"></i> 2018 - мастер моментального загара</p>
                <p><i class="fa fa-book" aria-hidden="true"></i> 2021 - мастер перманентного макияжа </p>


                <p class="text-right">
                    " Мое главное предназначение - это помогать сделать Вашу естественную красоту ещё лучше и обучать  девочек их любимому делу♥️♥️♥️ "
                </p>

            </div>

            <div class="clearfix"></div>
        </div>
        <div class="ab-agile" style="margin-top: 25px">
            <div class="col-md-6 aboutleft  animate__fadeInLeft ">
                <h3>Клименко Карина</h3>

                <p><i class="fa fa-check" aria-hidden="true"></i> Мастер с медицинским образованием </p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Мастер Шугаринга</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Косметолог </p>
                <p class="para1">
                    📃Образование:<br />
                <p><i class="fa fa-book" aria-hidden="true"></i> Среднее образование </p>
                <p><i class="fa fa-book" aria-hidden="true"></i> Cпециальность - «Медсестра» </p>
                <p><i class="fa fa-book" aria-hidden="true"></i> Интернатура</p>
                <p><i class="fa fa-book" aria-hidden="true"></i> Обучение по специальности «Косметолог - эстетист лица и тела»</p>
                <p class="text-right">
                    В нашей студии вы встретитесь на процедурах уходовой косметологии и сахарной депиляции🕊
                </p>



            </div>
            <div class="col-md-6 aboutright ">
                <img src="~/images/Karina.jpg" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<!-- Modal1 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Beauty Salon</h4>
                <img src="~/images/11.jpg" alt=" " class="img-responsive">
                <h5>Neque porro quisquam est qui dolorem </h5>
                <p>
                    Ut in ligula sollicitudin, auctor elit vel, mollis tortor. Nullam id magna in eros mollis porttitor vel et eros.Phasellus
                    sed iaculis nibh, non suscipit tortor. Aenean ante massa, lobortis et dolor eget, sollicitudin luctus arcu. Donec eros
                    tortor, ultrices in lectus quis, aliquet commodo lectus.Donec eros tortor, ultrices in lectus quis, aliquet commodo
                    lectus.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- //Modal1 -->

<div class="container">
    <div class="wthree_head_section">

        <h3 style="margin-top: 10px; text-transform: uppercase" class="w3l_header ">Наши дипломы</h3>

    </div>
  
    <input type="checkbox" id="pic-1" />
    <label for="pic-1" class="lightbox"><img src="~/images/certificate1.jpg" /></label>
    <input type="checkbox" id="pic-2" />
    <label for="pic-2" class="lightbox"><img src="~/images/certificate2.jpg" /></label>
    <input type="checkbox" id="pic-3" />
    <label for="pic-3" class="lightbox"><img src="~/images/certificate3.jpg" /></label>
    <input type="checkbox" id="pic-4" />
    <label for="pic-4" class="lightbox"><img src="~/images/certificate4.jpg" /></label>

    <input type="checkbox" id="pic-5" />
    <label for="pic-5" class="lightbox"><img src="~/images/certificate5.jpg" /></label>
    <input type="checkbox" id="pic-6" />
    <label for="pic-6" class="lightbox"><img src="~/images/certificate6.jpg" /></label>
    <input type="checkbox" id="pic-7" />
    <label for="pic-7" class="lightbox"><img src="~/images/certificate7.jpg" /></label>
    <input type="checkbox" id="pic-8" />
    <label for="pic-8" class="lightbox"><img src="~/images/certificate8.jpg" /></label>

    <input type="checkbox" id="pic-9" />
    <label for="pic-9" class="lightbox"><img src="~/images/certificate9.jpg" /></label>
    <input type="checkbox" id="pic-10" />
    <label for="pic-10" class="lightbox"><img src="~/images/certificate10.jpg" /></label>
    <input type="checkbox" id="pic-11" />
    <label for="pic-11" class="lightbox"><img src="~/images/certificate11.jpg" /></label>
    <input type="checkbox" id="pic-12" />
    <label for="pic-12" class="lightbox"><img src="~/images/certificate12.jpg" /></label>
    <input type="checkbox" id="pic-13" />
    <label for="pic-13" class="lightbox"><img src="~/images/certificate13.jpg" /></label>
    <input type="checkbox" id="pic-14" />
    <label for="pic-14" class="lightbox"><img src="~/images/certificate14.jpg" /></label>
    <input type="checkbox" id="pic-15" />
    <label for="pic-15" class="lightbox"><img src="~/images/certificate15.jpg" /></label>
    <input type="checkbox" id="pic-16" />
    <label for="pic-16" class="lightbox"><img src="~/images/certificate16.jpg" /></label>

    <input type="checkbox" id="pic-17" />
    <label for="pic-17" class="lightbox"><img src="~/images/certificate17.jpg" /></label>
    <input type="checkbox" id="pic-18" />
    <label for="pic-18" class="lightbox"><img src="~/images/certificate18.jpg" /></label>


    <div class="grid ">


        <label for="pic-1" class="grid-item"><img src="~/images/certificate1.jpg" /></label>
        <label for="pic-2" class="grid-item"><img src="~/images/certificate2.jpg" /></label>
        <label for="pic-3" class="grid-item"><img src="~/images/certificate3.jpg" /></label>
        <label for="pic-4" class="grid-item"><img src="~/images/certificate4.jpg" /></label>

        <label for="pic-5" class="grid-item"><img src="~/images/certificate5.jpg" /></label>
        <label for="pic-6" class="grid-item"><img src="~/images/certificate6.jpg" /></label>
        <label for="pic-7" class="grid-item"><img src="~/images/certificate7.jpg" /></label>
        <label for="pic-8" class="grid-item"><img src="~/images/certificate8.jpg" /></label>

        <label for="pic-9" class="grid-item"><img src="~/images/certificate9.jpg" /></label>
        <label for="pic-10" class="grid-item"><img src="~/images/certificate10.jpg" /></label>
        <label for="pic-11" class="grid-item"><img src="~/images/certificate11.jpg" /></label>
        <label for="pic-12" class="grid-item"><img src="~/images/certificate12.jpg" /></label>
        <label for="pic-13" class="grid-item "><img src="~/images/certificate13.jpg" /></label>
        <label for="pic-14" class="grid-item "><img src="~/images/certificate14.jpg" /></label>

        <label for="pic-16" class="grid-item "><img src="~/images/certificate16.jpg" /></label>
        <label for="pic-15" class="grid-item"><img src="~/images/certificate15.jpg" /></label>
        <label for="pic-17" class="grid-item "><img src="~/images/certificate17.jpg" /></label>
        <label for="pic-18" class="grid-item"><img src="~/images/certificate18.jpg" /></label>

    </div>
</div>