@{
    ViewBag.Title = "PriceList";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container">

    <div class="wthree_head_section" style="margin-bottom: 0px">

        <h3 style="margin-top: 85px; text-transform: uppercase" class="w3l_header animate__animated animate__zoomIn">Наши работы</h3>

    </div>
    <input type="checkbox" id="pic-13" />
    <label for="pic-13" class="lightbox"><img src="~/images/cosmetologia1.jpg" /></label>
    <input type="checkbox" id="pic-14" />
    <label for="pic-14" class="lightbox"><img src="~/images/cosmetologia2.jpg" /></label>
    <input type="checkbox" id="pic-15" />
    <label for="pic-15" class="lightbox"><img src="~/images/cosmetologia3.jpg" /></label>
    <input type="checkbox" id="pic-16" />
    <label for="pic-16" class="lightbox"><img src="~/images/cosmetologia4.jpg" /></label>

    <input type="checkbox" id="pic-17" />
    <label for="pic-17" class="lightbox"><img src="~/images/cosmetologia5.jpg" /></label>
    <input type="checkbox" id="pic-18" />
    <label for="pic-18" class="lightbox"><img src="~/images/cosmetologia6.jpg" /></label>
    <input type="checkbox" id="pic-19" />
    <label for="pic-19" class="lightbox"><img src="~/images/cosmetologia7.jpg" /></label>
    <input type="checkbox" id="pic-20" />
    <label for="pic-20" class="lightbox"><img src="~/images/cosmetologia8.jpg" /></label>
    <input type="checkbox" id="pic-13" />



    <input type="checkbox" id="pic-1" />
    <label for="pic-1" class="lightbox"><img src="~/images/lips1.jpg" /></label>
    <input type="checkbox" id="pic-2" />
    <label for="pic-2" class="lightbox"><img src="~/images/lips2.jpg" /></label>
    <input type="checkbox" id="pic-3" />
    <label for="pic-3" class="lightbox"><img src="~/images/lips3.jpg" /></label>
    <input type="checkbox" id="pic-4" />
    <label for="pic-4" class="lightbox"><img src="~/images/lips4.jpg" /></label>

    <input type="checkbox" id="pic-5" />
    <label for="pic-5" class="lightbox"><img src="~/images/laminirovanie resnic.jpg" /></label>
    <input type="checkbox" id="pic-6" />
    <label for="pic-6" class="lightbox"><img src="~/images/Laminirovanie resnic (2).jpg" /></label>
    <input type="checkbox" id="pic-7" />
    <label for="pic-7" class="lightbox"><img src="~/images/laminirovanie resnic (3).jpg" /></label>
    <input type="checkbox" id="pic-8" />
    <label for="pic-8" class="lightbox"><img src="~/images/laminirovanie resnic (4).jpg" /></label>

    <input type="checkbox" id="pic-9" />
    <label for="pic-9" class="lightbox"><img src="~/images/nail.jpg" /></label>
    <input type="checkbox" id="pic-10" />
    <label for="pic-10" class="lightbox"><img src="~/images/nail (2).jpg" /></label>
    <input type="checkbox" id="pic-11" />
    <label for="pic-11" class="lightbox"><img src="~/images/nail (3).jpg" /></label>
    <input type="checkbox" id="pic-12" />
    <label for="pic-12" class="lightbox"><img src="~/images/nail (4).jpg" /></label>

    <input type="checkbox" id="pic-21" />
    <label for="pic-21" class="lightbox"><img src="~/images/massag1.jpg" /></label>
    <input type="checkbox" id="pic-22" />
    <label for="pic-22" class="lightbox"><img src="~/images/massag2.jpg" /></label>
    <input type="checkbox" id="pic-23" />
    <label for="pic-23" class="lightbox"><img src="~/images/massag3.jpg" /></label>
    <input type="checkbox" id="pic-24" />
    <label for="pic-24" class="lightbox"><img src="~/images/massag4.jpg" /></label>

    <input type="checkbox" id="pic-25" />
    <label for="pic-25" class="lightbox"><img src="~/images/oformlenie brovey.jpg" /></label>
    <input type="checkbox" id="pic-26" />
    <label for="pic-26" class="lightbox"><img src="~/images/oformlenie brovey (2).jpg" /></label>
    <input type="checkbox" id="pic-27" />
    <label for="pic-27" class="lightbox"><img src="~/images/oformlenie brovey (3).jpg" /></label>
    <input type="checkbox" id="pic-28" />
    <label for="pic-28" class="lightbox"><img src="~/images/oformlenie brovey (4).jpg" /></label>

    <input type="checkbox" id="pic-29" />
    <label for="pic-29" class="lightbox"><img src="~/images/mezhresnichnoe prostranstvo.jpg" /></label>
    <input type="checkbox" id="pic-30" />
    <label for="pic-30" class="lightbox"><img src="~/images/mezhresnichnoe prostranstvo (2).jpg" /></label>
    <input type="checkbox" id="pic-31" />
    <label for="pic-31" class="lightbox"><img src="~/images/mezhresnichnoe prostranstvo (3).jpg" /></label>
    <input type="checkbox" id="pic-32" />
    <label for="pic-32" class="lightbox"><img src="~/images/mezhresnichnoe prostranstvo4.jpg" /></label>

    <input type="checkbox" id="pic-33" />
    <label for="pic-33" class="lightbox"><img src="~/images/sugar1.jpg" /></label>
    <input type="checkbox" id="pic-34" />
    <label for="pic-34" class="lightbox"><img src="~/images/sugar2.jpg" /></label>
    <input type="checkbox" id="pic-35" />
    <label for="pic-35" class="lightbox"><img src="~/images/sugar3.jpg" /></label>
    <input type="checkbox" id="pic-36" />
    <label for="pic-36" class="lightbox"><img src="~/images/sugar4.jpg" /></label>

    <input type="checkbox" id="pic-37" />
    <label for="pic-37" class="lightbox"><img src="~/images/mezhresnichka1.jpg" /></label>
    <input type="checkbox" id="pic-38" />
    <label for="pic-38" class="lightbox"><img src="~/images/mezhresnichka2.jpg" /></label>
    <input type="checkbox" id="pic-39" />
    <label for="pic-39" class="lightbox"><img src="~/images/mezhresnichka3.jpg" /></label>
    <input type="checkbox" id="pic-40" />
    <label for="pic-40" class="lightbox"><img src="~/images/mezhresnichka4.jpg" /></label>

    <div class="grid ">

        <div class="text-center" style="margin-bottom: 25px;">
            <img style="max-width: 100%; min-height: 20px" src="~/images/gradient.jpg" />
            <p style="font-size: 18px; margin: -25px">Косметология</p>
        </div>
        <label for="pic-17" class="grid-item animate__animated animate__flipInX animate__delay-1s"><img src="~/images/cosmetologia5.jpg" /></label>
        <label for="pic-18" class="grid-item animate__animated animate__flipInX animate__delay-1s"><img src="~/images/cosmetologia6.jpg" /></label>
        <label for="pic-19" class="grid-item animate__animated animate__flipInX animate__delay-1s"><img src="~/images/cosmetologia7.jpg" /></label>
        <label for="pic-20" class="grid-item animate__animated animate__flipInX animate__delay-1s"><img src="~/images/cosmetologia8.jpg" /></label>
        <label for="pic-13" class="grid-item animate__animated animate__flipInX animate__delay-2s"><img src="~/images/cosmetologia1.jpg" /></label>
        <label for="pic-14" class="grid-item animate__animated animate__flipInX animate__delay-2s"><img src="~/images/cosmetologia2.jpg" /></label>
        <label for="pic-15" class="grid-item animate__animated animate__flipInX animate__delay-2s"><img src="~/images/cosmetologia3.jpg" /></label>
        <label for="pic-16" class="grid-item animate__animated animate__flipInX animate__delay-2s"><img src="~/images/cosmetologia4.jpg" /></label>


        <div class="text-center" style="margin-bottom: 25px;">
            <img style="max-width: 100%; min-height: 20px" src="~/images/gradient.jpg" />
            <p style="font-size: 18px; margin: -25px">Перманентный макияж губ</p>
        </div>
        <label for="pic-1" class="grid-item"><img src="~/images/lips1.jpg" /></label>
        <label for="pic-2" class="grid-item"><img src="~/images/lips2.jpg" /></label>
        <label for="pic-3" class="grid-item"><img src="~/images/lips3.jpg" /></label>
        <label for="pic-4" class="grid-item"><img src="~/images/lips4.jpg" /></label>
        <div class="text-center" style="margin-bottom: 25px;">
            <img style="max-width: 100%; min-height: 20px" src="~/images/gradient.jpg" />
            <p style="font-size: 18px; margin: -25px">Ламинирование ресниц</p>
        </div>
        <label for="pic-5" class="grid-item"><img src="~/images/laminirovanie resnic.jpg" /></label>
        <label for="pic-6" class="grid-item"><img src="~/images/Laminirovanie resnic (2).jpg" /></label>
        <label for="pic-7" class="grid-item"><img src="~/images/laminirovanie resnic (3).jpg" /></label>
        <label for="pic-8" class="grid-item"><img src="~/images/laminirovanie resnic (4).jpg" /></label>
        <div class="text-center" style="margin-bottom: 25px;">
            <img style="max-width: 100%; min-height: 20px" src="~/images/gradient.jpg" />
            <p style="font-size: 18px; margin: -25px">Маникюр и педикюр</p>
        </div>
        <label for="pic-9" class="grid-item"><img src="~/images/nail.jpg" /></label>
        <label for="pic-10" class="grid-item"><img src="~/images/nail (2).jpg" /></label>
        <label for="pic-11" class="grid-item"><img src="~/images/nail (3).jpg" /></label>
        <label for="pic-12" class="grid-item"><img src="~/images/nail (4).jpg" /></label>

        <div class="text-center" style="margin-bottom: 25px;">
            <img style="max-width: 100%; min-height: 20px" src="~/images/gradient.jpg" />
            <p style="font-size: 18px; margin: -25px">Массаж</p>
        </div>
        <label for="pic-21" class="grid-item"><img src="~/images/massag1.jpg" /></label>
        <label for="pic-22" class="grid-item"><img src="~/images/massag2.jpg" /></label>
        <label for="pic-23" class="grid-item"><img src="~/images/massag3.jpg" /></label>
        <label for="pic-24" class="grid-item"><img src="~/images/massag4.jpg" /></label>
        <div class="text-center" style="margin-bottom: 25px;">
            <img style="max-width: 100%; min-height: 20px" src="~/images/gradient.jpg" />
            <p style="font-size: 18px; margin: -25px">Оформление бровей</p>
        </div>
        <label for="pic-25" class="grid-item"><img src="~/images/oformlenie brovey.jpg" /></label>
        <label for="pic-26" class="grid-item"><img src="~/images/oformlenie brovey (2).jpg" /></label>
        <label for="pic-27" class="grid-item"><img src="~/images/oformlenie brovey (3).jpg" /></label>
        <label for="pic-28" class="grid-item"><img src="~/images/oformlenie brovey (4).jpg" /></label>

        <div class="text-center" style="margin-bottom: 25px;">
            <img style="max-width: 100%; min-height: 20px" src="~/images/gradient.jpg" />
            <p style="font-size: 18px; margin: -25px">Перманентный макияж бровей</p>
        </div>
        <label for="pic-29" class="grid-item"><img src="~/images/mezhresnichnoe prostranstvo.jpg" /></label>
        <label for="pic-30" class="grid-item"><img src="~/images/mezhresnichnoe prostranstvo (2).jpg" /></label>
        <label for="pic-31" class="grid-item"><img src="~/images/mezhresnichnoe prostranstvo (3).jpg" /></label>
        <label for="pic-32" class="grid-item"><img src="~/images/mezhresnichnoe prostranstvo4.jpg" /></label>
        <div class="text-center" style="margin-bottom: 25px;">
            <img style="max-width: 100%; min-height: 20px" src="~/images/gradient.jpg" />
            <p style="font-size: 18px; margin: -25px">Межресничное пространство</p>
        </div>
        <label for="pic-37" class="grid-item"><img src="~/images/mezhresnichka1.jpg" /></label>
        <label for="pic-38" class="grid-item"><img src="~/images/mezhresnichka2.jpg" /></label>
        <label for="pic-39" class="grid-item"><img src="~/images/mezhresnichka3.jpg" /></label>
        <label for="pic-40" class="grid-item"><img src="~/images/mezhresnichka4.jpg" /></label>

        <div class="text-center" style="margin-bottom: 25px;">
            <img style="max-width: 100%; min-height: 20px" src="~/images/gradient.jpg" />
            <p style="font-size: 18px; margin: -25px">Шугаринг</p>
        </div>
        <label for="pic-33" class="grid-item"><img src="~/images/sugar1.jpg" /></label>
        <label for="pic-34" class="grid-item"><img src="~/images/sugar2.jpg" /></label>
        <label for="pic-35" class="grid-item"><img src="~/images/sugar3.jpg" /></label>
        <label for="pic-36" class="grid-item"><img src="~/images/sugar4.jpg" /></label>
    </div>
</div>