
@{
    ViewBag.Title = "School";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}



<div class="about">
    <div class="container">
        <div class="wthree_head_section animate__animated animate__zoomIn">
            <h3 class="w3l_header">Школа</h3>
            <p>
                Выбирай любой курс и начинай зарабатывать уже через 5 дней
            </p>
        </div>
        <div class="ab-agile">
            <div class="col-md-6 aboutleft animate__animated animate__fadeInLeft">
                <h3>Добро пожаловать к нам на курсы</h3>
                <p>
                    Обучение у нас - это возможность осуществить Вашу мечту и получить работу в fashion-индустрии или открыть собственную студию
                    красоты. Обучение широкому спектру техник перманентного макияжа сделает Вас универсальным и востребованным мастером. 
                    А наши курсы маникюра достаточно компактны по времени прохождения обучения, потому что у нас собрана
                    только самая важная информация.
                 Вам всего лишь нужно выбрать один из курсов, а мы гарантируем дать Вам максимум практических
                    навыков, которыми владеем.
                </p>
               
            </div>
            <div class="col-md-6 aboutright animate__animated animate__fadeInRight">
                <img src="~/images/s1.jpg" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"></div>
        </div>
        
    </div>
</div>
<!-- //about -->
<!-- wthree-mid -->
<div class="wthree-mid jarallax">
    <img class="jarallax-img" style="overflow: hidden" src="~/images/p2.jpg" alt="">
    <div class="container">
        <h3 style="margin-top: 100px; margin-bottom: 100px; text-align: center">Достойное образование – успешная карьера! Мы готовим профессионалов!</h3>
        
    </div>
</div>
<div class="wthree_head_section">
    
</div>
<!-- //wthree-mid -->
<div class="container">
    <div class="about" style="padding: 0">
    
            <div class="wthree_head_section animate__animated animate__zoomIn">
                <h3 class="w3l_header">Программа курсов</h3>
                <p>
                    Детальная информация
                </p>
            </div>
        
    </div>
    <div class="ab-agile text-center">

        <div class="col-md-12  aboutleft">
            <div class="card text-left" style="border: solid 2px #b1955d; margin-bottom: 5px; background-color: #faefef; padding: 10px; width: 100%">
                <div class="card-header" style="align-items: center" role="tab" id="heading1">
                    <h4 class="mb-0">
                        <a style="color: black" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="collapsed ">
                            <i class="fa fa-check" aria-hidden="true"></i> базовый курс по маникюру "Все с нуля" 3 дня - 5 000 грн <i style="margin-left: 10px; color: #b1955d;font-size: 15px; text-decoration-line: underline ">Подробнее </i>
                        </a>

                    </h4>
                </div>

                <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1" style="">
                    <div class="card-body text-left">
                        Обучение проходит с 11:00 - 17:00<br />
                        Время можно корректировать (возможно и вечерние обучение)<br />
                        ✏️ЧТО ВХОДИТ В КУРС? <br />
                        -особенности создания формы ногтя<br />
                        -строение ногтя<br />
                        -комбинированный маникюр <br />
                        - дезинфекция i стерилизация инструментов<br />
                        -правильное поднятия кутикулы -качественный срез кутикулы -подготовка ногтевой пластины к покрытию гельлаком<br />
                        -выравнивание ногтевой пластины<br />
                        -как укрепить ногтевую пластину<br />
                        -ремонт<br />
                        -особенности работы с гельлакамы<br />
                        -правильное нанесение<br />
                        -идеальное покрытие под кутикулу<br />

                        -отработка на 3 моделях<br />
                        -как правильно сделать фото <br />
                        📍 легкие дизайны в подарок 🎁 <br />

                        ❗️Все материалы предоставляются. <br />
                        📗После завершения курса будет выдан сертификат иностранного образца<br />
                    </div>
                </div>
            </div>
            <div class="card text-left" style="border: solid 2px #b1955d; margin-bottom: 5px;background-color: #faefef; padding: 10px; width: 100%">
                <div class="card-header" style="align-items: center" role="tab" id="heading2">
                    <h4 class="mb-0">
                        <a style="color: black" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2" class="collapsed ">
                            <i class="fa fa-check" aria-hidden="true"></i> базовый курс "Перманентный макияж: брови, губы, межресничка" 6 дней - 1 200 $ <i style="margin-left: 10px; color: #b1955d;font-size: 15px; text-decoration-line: underline ">Подробнее </i>
                        </a>

                    </h4>
                </div>

                <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2" style="">
                    <div class="card-body text-left">
                        6 дней | 6 моделей <br/>
                      

                        ⚜️МК брови Ombré 500$<br />
                        2 дня| 2 модели <br />
 
                        ⚜️МК губы Акварель/ Помада 500$<br />
                        2 дня | 2 модели <br />

                        ⚜️МК Межресничное пространство 
                        500$<br />
                        2 дня | 2 модели<br />

                        По завершению выдаётся сертификат иностранного образца.
                    </div>
                </div>
            </div>
      
            <div class="card text-left" style="border: solid 2px #b1955d; margin-bottom: 5px;background-color: #faefef; padding: 10px; width: 100%">
                <div class="card-header" style="align-items: center" role="tab" id="heading4">
                    <h4 class="mb-0">
                        <a style="color: black" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4" class="collapsed ">
                            <i class="fa fa-check" aria-hidden="true"></i> курс «Новая техника комбинированного маникюра» <span>2 500 грн</span><i style="margin-left: 10px; color: #b1955d;font-size: 15px; text-decoration-line: underline ">Подробнее </i>
                        </a>

                    </h4>
                </div>

                <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" style="">
                    <div class="card-body text-left">
                        Курс проходит 1 день<br/>
                        С 11:00 - до 16:00<br />
                        По завершению выдаётся сертификат иностранного образца.<br />

                        Для записи на курс вам нужно связаться с администратором +380636888072<br />

                        Программа курса:<br />

                        ✅Дезинфекция и стерилизация<br />
                        ✅Безопасная организация рабочего места<br />
                        ✅Выбор инструментов и их характеристики <br />
                        ✅Срок службы фрез<br />
                        ✅Работа с фрезером, выбор оптимальной скорости и образивносты фрез в зависимости от типа кожи. <br />
                        ✅Правильная последовательность работы в маникюре.  <br />
                        ✅Безопасное снятие гель-лака фрезой и почему это лучше размачивания.  <br />
                        ✅Как безопасно обработать синусы.  Что такое "опасные фрезы" и нужны ли они.  Как влияет угол наклона фрезы на чистоту маникюра.  <br />
                        ✅Идеальный срез .Правильный захват инструмента.  <br />
                        ✅Подготовка ногтевой пластины к покрытию.  <br />
                        ✅Выравнивание и укрепление ногтевой пластины.  <br />
                        ✅Покрытие гель-лаком под кутикулу. <br />
                        ✅Две техники комби маникюра.  Использование в работе только одной фрезы и накожниц.<br />
                        ✅Шлифовка и полировка.  В чем разница и когда нужно их выполнять.<br />
                        ✅Строение ногтей.  Вы сможете разбираться почему же всё таки иногда материал НЕ держится, появляются отслойки. 
                        Поймёте, что делать в таких случаях.  <br />
                        ✅Много секретов и нюансов от инструктора<br />
                        ✅Красивое фото<br />
                    </div>
                </div>
            </div>
            <div class="card text-left" style="border: solid 2px #b1955d; margin-bottom: 5px;background-color: #faefef; padding: 10px; width: 100%">
                <div class="card-header" style="align-items: center" role="tab" id="heading5">
                    <h4 class="mb-0">
                        <a style="color: black" data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5" class="collapsed ">
                            <i class="fa fa-check" aria-hidden="true"></i> курс «Комбинированый педикюр + идеальное покрытие » <span>2 500 грн</span>  <i style="margin-left: 10px; color: #b1955d;font-size: 15px; text-decoration-line: underline ">Подробнее </i>
                        </a>

                    </h4>
                </div>

                <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" style="">
                    <div class="card-body text-left">
                        Курс проходит 1 день.<br/>
                        С 11:00 - до 16:00<br />
                        По завершению выдаётся сертификат иностранного образца.<br />
                        Для записи на курс вам нужно связаться с администратором +380636888072<br />

                        Программа курса:<br />

                        ✅Дезинфекция и стерилизация<br />
                        ✅Безопасная организация рабочего места<br />
                        ✅Выбор инструментов и их характеристики <br />
                        ✅Срок службы фрез<br />
                        ✅Работа с фрезером, выбор оптимальной скорости и образивносты фрез в зависимости от типа кожи.<br />
                        ✅Правильная последовательность работы.<br />
                        ✅Безопасное снятие гель-лака фрезой и почему это лучше размачивания.  <br />
                        ✅Как безопасно обработать синусы.  Что такое "опасные фрезы" и нужны ли они.  Как влияет угол наклона фрезы на чистоту педикюра.<br />
                        ✅Идеальный срез .Правильный захват инструмента.  <br />
                        ✅Правильная обработка стопы пододиском.<br />
                        ✅Подготовка ногтевой пластины к покрытию.  <br />
                        ✅Покрытие гель-лаком под кутикулу.<br />
                        ✅Много секретов и нюансов от инструктора<br />
                        ✅Красивое фото<br />
                    </div>
                </div>
            </div>
            <div class="card text-left" style="border: solid 2px #b1955d; margin-bottom: 5px;background-color: #faefef; padding: 10px; width: 100%">
                <div class="card-header" style="align-items: center" role="tab" id="heading6">
                    <h4 class="mb-0">
                        <a style="color: black" data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapse6" class="collapsed ">
                            <i class="fa fa-check" aria-hidden="true"></i> базовый курс «Бровист » <span>4 000 грн</span><i style="margin-left: 10px; color: #b1955d;font-size: 15px; text-decoration-line: underline ">Подробнее </i>
                        </a>

                    </h4>
                </div>

                <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6" style="">
                    <div class="card-body text-left">


                        Продолжительность: 2 дня<br />
                        Время:  11:00-16:00<br />
                        Группа: до 2 человек<br />

                        Если добавить ламинирование бровей +1000 грн<br />

                        1. День «Теория + демонстрация+отработка 2 модели»<br />
                        2. День «Отработка с 3-мя моделями» <br />

                        ✅ Кто такой «Бровист» и зачем им становиться?!<br />
                        ✅ Детальный разбор материалов и инструментов. Как работать и что выбрать!<br />
                        ✅ Работа с кожей и волосом. Строение, влияние материала.<br />
                        ✅ Построение идеальной формы, работа с эскизом.<br />
                        ✅ Чистая коррекция пинцетом. Постановка руки мастера.<br />
                        ✅ Правильное нанесение/Снятие красителя.<br />
                        ✅ Работа с камерой, создание «вкусного контента»<br />
                        ✅ Что делать после обучения, как организовать свою работу?!<br />
                    </div>
                </div>
            </div>
        <div class="card text-left" style="border: solid 2px #b1955d; margin-bottom: 5px;background-color: #faefef; padding: 10px; width: 100%">
            <div class="card-header" style="align-items: center" role="tab" id="heading7">
                <h4 class="mb-0">
                    <a style="color: black" data-toggle="collapse" href="#collapse7" aria-expanded="false" aria-controls="collapse7" class="collapsed ">
                        <i class="fa fa-check" aria-hidden="true"></i> курс "Ламинирование бровей" 4 000 грн <i style="margin-left: 10px; color: #b1955d;font-size: 15px; text-decoration-line: underline ">Подробнее </i>
                    </a>

                </h4>
            </div>

            <div id="collapse7" class="collapse" role="tabpanel" aria-labelledby="heading7" style="">
                <div class="card-body text-left">
                    Группа: 1-2 человека <br/>
                    Продолжительность: 1 день (11:00-16:00)<br />
                    1 демонстрация <br />
                    3 отработки <br />

                    ✅ Для кого/чего нужна?<br />
                    ✅ Показания/противопоказания.<br />
                    ✅ Разбор составов. <br />
                    ✅ Брови без заломов.<br />
                    ✅ Как не затемнить волос.<br />
                    ✅ Красивый отпечаток на коже<br />
                </div>
            </div>
        </div>
        <div class="card text-left" style="border: solid 2px #b1955d; margin-bottom: 5px;background-color: #faefef; padding: 10px; width: 100%">
            <div class="card-header" style="align-items: center" role="tab" id="heading8">
                <h4 class="mb-0">
                    <a style="color: black" data-toggle="collapse" href="#collapse8" aria-expanded="false" aria-controls="collapse8" class="collapsed ">
                        <i class="fa fa-check" aria-hidden="true"></i> базовый курс 2 в 1 «Ламинирование ресниц + ботокс» 2 500 грн <i style="margin-left: 10px; color: #b1955d;font-size: 15px; text-decoration-line: underline ">Подробнее </i>
                    </a>

                </h4>
            </div>

            <div id="collapse8" class="collapse" role="tabpanel" aria-labelledby="heading8" style="">
                <div class="card-body text-left">
                    БЛОК ТЕОРИИ:<br />

                    ✅ История процедуры (как и кем создана)<br />
                    ✅ Все виды завивки / х + и - (химическая, биозавивка, ламинирование, ботокс)<br />
                    ✅ Оборудование рабочего места<br />
                    ✅ Материалы (выбор самого необходимого и ничего лишнего: пинцета, валиков и других расходников)<br />
                    ✅ Стерилизация материалов<br />
                    ✅ Краска  - виды и нюансы окрашивания<br />
                    ✅ Особенности строения глаз и правильный подбор валиков<br />
                    ✅ Подготовка клиента к процедуре<br />
                    ✅ Этапы процедуры и противопоказания к ней<br />
                    ✅ Уход за ресницами после процедуры<br />
                    ✅ Когда нужно отказать клиенту<br />
                    ✅ Психология работы с клиентом<br />
                    ✅ Исправление чужих работ<br />

                    ✅ Сайты для закупки расходников и составов<br />
                    ✅ Разбор пройденного материала<br />

                    ПРАКТИКА:<br />
                    ✅ Демонстрация  процедуры на модели от начала до конца<br />
                    ✅ Отработка полученных знаний и навыков на модели (ваша полностью самостоятельная работа под моим присмотра)<br />
                    ✅ Работа над ошибками<br />

                    По окончании выдаётся сертификат международного образца)
                </div>
            </div>
        </div>
        
            <div class="card text-left" style="border: solid 2px #b1955d; margin-bottom: 5px;background-color: #faefef; padding: 10px; width: 100%">
                <div class="card-header" style="align-items: center" role="tab" id="heading10">
                    <h4 class="mb-0">
                        <a style="color: black" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10" class="collapsed ">
                            <i class="fa fa-check" aria-hidden="true"></i>курс "Шугаринг всех зон" 2 дня - 4 000 грн <i style="margin-left: 10px; color: #b1955d;font-size: 15px; text-decoration-line: underline ">Подробнее </i>
                        </a>

                    </h4>
                </div>

                <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10" style="">
                    <div class="card-body text-left">

                        🌸На базовом обучении ты узнаешь: <br />

                        - Особенности метода шугаринга <br />
                        - Отличие шугаринга от других методов эпиляции и депиляции<br />
                        - Противопоказания для проведения шугаринга <br />
                        - Порядок проведения процедуры <br />
                        - Техники работы: мануальная<br />
                        ✅Практическая часть: отработка на модели, включая глубокое бикини.  <br />

                        📝Занятия проводятся 6 часов, основное внимание на курсе уделяется практической отработке.<br />
                        Индивидуальное обучение.<br />
                        📍Проходит 2 дня<br />
                        📍Зоны: ножки, ручки, подмышки, усики, бикини.<br />
                        По окончании выдается сертификат международного образца<br />

                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!-- Modal1 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Beauty Salon</h4>
                <img src="~/images/11.jpg" alt=" " class="img-responsive">
                <h5>Neque porro quisquam est qui dolorem </h5>
                <p>
                    Ut in ligula sollicitudin, auctor elit vel, mollis tortor. Nullam id magna in eros mollis porttitor vel et eros.Phasellus
                    sed iaculis nibh, non suscipit tortor. Aenean ante massa, lobortis et dolor eget, sollicitudin luctus arcu. Donec eros
                    tortor, ultrices in lectus quis, aliquet commodo lectus.Donec eros tortor, ultrices in lectus quis, aliquet commodo
                    lectus.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="wthree_head_section">
        <h3 class="w3l_header">Не откладывай снова на потом</h3>
        <p>
            Напиши нам в direct, чтобы узнать детали, или заполни форму обратной связи для записи на обучение.
        </p>
        <div class="battonhere">
            <a> @Html.ActionLink("Записаться", "SendingData", "Home", new { @class = "btn btn-success" })</a>
        </div>
    </div>
</div>