
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}



<div class="about">
    <div class="container">
        <div class="wthree_head_section animate__animated animate__zoomIn">
            <h3 class="w3l_header">Наши услуги</h3>
            <p>
                Позаботьтесь о своей красоте и подарите себе прекрасное настроение!
            </p>
        </div>
        <div class="ab-agile">
            <div class="col-md-6 aboutleft animate__animated animate__fadeInLeft">

                <p>
                    Услуги салона красоты Sister’s Family Beauty Studio, их высокое качество, а также безупречная репутация
                    обеспечиваются нашими специалистами, которые регулярно повышают свой
                    уровень профессионализма, получают актуальные навыки и знания
                    на семинарах, специализированных мастер-классах.
                    У нас Вы найдете:

                </p>
                <p><i class="fa fa-check" aria-hidden="true"></i> широкий спектр косметологических и терапевтических услуг</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> услуги по уходу за ногтями и телом</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> больше пяти видов массажей </p>
                <p><i class="fa fa-check" aria-hidden="true"></i> все виды перманентного макияжа </p>
                <p><i class="fa fa-check" aria-hidden="true"></i>  услуги по ламинированию бровей и ресниц</p>
                <p><i class="fa fa-check" aria-hidden="true"></i> женский и мужской шугаринг всех зон </p>
                <p>
                    А самое главное, что у нас еще
                    есть - это курсы обучения, пройдя которые Вы сами станете специалистом в beauty индустрии.
                </p>

            </div>
            <div class="col-md-6 aboutright animate__animated animate__fadeInRight">
                <img src="~/images/services1.jpg" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"></div>
        </div>


    </div>
</div>
<!-- //about -->
<!-- wthree-mid -->
<div class="wthree-mid jarallax">
    <img class="jarallax-img" style="overflow: hidden" src="~/images/service-paralax2.jpg" alt="">
    <div class="container">
        <h3 style="margin-top: 100px; margin-bottom: 100px; text-align: center">"Мужчины не выносят гремучей смеси красоты и ума..."</h3>
        <h3 class="text-right">Шэрон Стоун, актриса</h3>

    </div>
</div>

<div class="agileits-about-top">
    <div class="container">
        
        <div class="agileinfo-top-grids">
            <div class="col-sm-6 wthree-top-grid text-center " style="align-items: center; margin-bottom: 20px;">
                <img src="~/images/Cosmetologia.jpg" class="img-responsive" alt="" />
                <h3 style="margin: 5px">Косметология</h3>
                <p>
                    В наше время инновационные разработки косметологов и дерматологов позволяют очень ефективно бороться с эстетическими недостатками:
                    угревая сыпь, шрамы, морщины, пигментные пятна, купероз и постакне. Косметология в салоне красоты  Sister’s Family Beauty Studio —
                    полный спектр услуг в Киеве, направленных на омоложение, улучшение внешнего вида и восстановление кожи лица и тела. Мы профессионально
                    поможем Вам быстро решить любую  проблему в области косметологии.
                </p>
            </div>


            <div class="col-sm-6 wthree-top-grid text-center" style="align-items: center">
                <img src="~/images/service_perman.jpg" class="img-responsive" alt="" />
                <h3 style="margin: 5px">Перманентный макияж</h3>
                <p>
                    Перманентный макияж — это, можно сказать, макияж-татуировка: в ходе особой косметологической процедуры в верхние слои кожи «закладывают»
                    пигмент — на лице в результате образуется своеобразный несмываемый мейкап.
                    Какая женщина не мечтает быть красивой, проснувшись с утра, и не тратить на макияж время? Такая возможность появилась у милых дам только в
                    начале этого века. Именно тогда в больших городах появилась такая услуга, как перманентный макияж. Интерес к процедуре не утихает и сегодня.
                    К услугам представительниц прекрасного пола различные методики и техники выполнения, позволяющие выглядеть прекрасно в любое время дня и ночи.
                </p>
            </div>

            <div class="col-sm-6 wthree-top-grid text-center" style="align-items: center; margin-bottom: 20px;">
                <img src="~/images/service_laminirovanie.jpg" class="img-responsive" alt="" />
                <h3 style="margin: 5px">Ламинирование бровей и ресниц</h3>
                <p>
                    Накрашенные ресницы — это основа повседневного макияжа для многих девушек. А теперь представь сбывшуюся мечту: утром просыпаешься рядом
                    с любимым, а глаза уже накрашены! Ресницы черные, подкрученные, выглядят естественно, в отличие от наращенных, — этого возможно добиться,
                    если сделать качественное ламинирование. Sister’s Family Beauty Studio – это не только качественное наращивание и ламинирование ресниц!
                    Сдесь Вы можете расслабиться, на несколько часов отстраниться от суеты и темпа города. Попить чай или кофе перед началом процедуры
                    и отдохнуть во время создания красоты.
                </p>
            </div>
            <div class="col-sm-6 wthree-top-grid text-center" style="align-items: center; margin-bottom: 20px;">
                <img src="~/images/service_massage.jpg" class="img-responsive" alt="" />
                <h3 style="margin: 5px">Массажи лица</h3>
                <p>
                    Классический массаж - улучшает венозный отток, микроциркуляцию, обладает выраженным лимфодренажным действием,
                    улучшает состояние кожи лица, не прибегая к радикальным мерам. <br />
                    Лифтинг массаж - улучшает микроциркуляцию, корректирует и подтягивает лицо. Это коррекция и профилактика возрастных изменений, лифтинг эффект.<br />
                    Джим массаж - миостимулирующая методика, которая включает не только мышцы лица, но и позвоночника.<br />
                    Массаж по Жаке - улучшает кровообращение, насыщает кожу<br />
                    Авторский массаж - это моделирующая, лимфодренажная, корректирующая методика
                </p>
            </div>

            <div class="col-sm-6 wthree-top-grid text-center " style="align-items: center; margin-bottom: 20px;">
                <img src="~/images/service_sugaring.jpg" class="img-responsive" alt="" />
                <h3 style="margin: 5px">Шугаринг всех зон</h3>
                <p>Процедура выполняется специальными косметическими средствами – сахарной пастой для шугаринга.
                    Это имеет ряд преимуществ перед другими видами депиляции. От него меньше раздражения в интимных местах, где очень чувствительная кожа.
                    На порядок меньше вросших волос в интимной зоне по сравнению с восковой эпиляцией. И цена на шугаринг достаточна низкая в сравнении с лазерной 
                    или фотоэпиляцией. Плюсы и минусы очевидны!
                    Сама процедура шугаринга достаточна проста, но требует навыков и компетентности специалиста, который выполняет удаление волос методом шугаринга.
                    Мы гарантируем качество всех выполненых процедур!
                </p>
            </div>
            <div class="col-sm-6 wthree-top-grid text-center" style="align-items: center; margin-bottom: 20px;">
                <img src="~/images/service_manicure.jpg" class="img-responsive" alt="" />
                <h3 style="margin: 5px">Ногтевой сервис</h3>
                <p>
                    Мы всегда заботимся о том, чтобы наши клиенты ходили с ухоженными и красивыми руками!  Одна из наиболее частых процедур
                    в жизни это маникюр и педикюр, и мы за безупречное  качество его выполнения! Наши мастера работают с высококачественными гель-лаками .
                    В работе используются только одноразовые либо стерильные инструменты.  Мастера предложат вам выбрать цвет для покрытия из большой цветовой
                    палитры гель-лаков.
                    Вы можете доверить нам свою красоту!
                </p>
            </div>



        </div>
    </div>
</div>
<!-- //about-top -->







