@model Domain.Entities.Cart




<div class="navbar-right visible-xs">
    <a href=@Url.Action("CartIndexIndex", "Home", new{returnUrl = Request.Url.PathAndQuery}) class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </a>
</div>

<div class="navbar-text  navbar-right">
    
    @Model.Lines.Sum(x => x.Quantity) товаров,
    @Model.ComputeTotalValue().ToString("# грн ")
</div>