<div class="page">
    <section class="w3l-content-4" style=" background-image: url('../img/bg__contact.jpg'); background-position: center; background-repeat: no-repeat;">
        <!-- /content-6-section -->
        <div class="content-4-main py-5">
            <div class="container py-lg-5 text-center">
                <h3 class="hny-title" style="margin-bottom: 25px; margin-top: 15px" >
                    Наші контакти
                </h3>
                <div class="content-info-in row">
                    <div class="content-right col-lg-4 col-md-4 col-sm-6  pl-lg-4 text-center">

                        <div class="row content4-right-grids mb-lg-3 mb-4">
                            <div class="col-md-2 content4-right-icon">
                                <div class="content4-icon">
                                    <span class="fa fa-envelope-open-o" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-10 content4-right-info">
                                <h6><a href="#">Пошта</a></h6>
                                <p  style="color: black">
                                    somemail@gmail.com
                                </p>
                            </div>

                        </div>
                        <div class="row content4-right-grids mb-lg-3 mb-4">
                            <div class="col-md-2 content4-right-icon">
                                <div class="content4-icon">
                                    <span class="fa fa-phone" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-10 content4-right-info">
                                <h6>
                                    <a href="#">
                                        Телефон
                                    </a>
                                </h6>
                                <p style="color: black">
                                    097-967-97-22
                                </p>
                            </div>

                        </div>
                        <div class="row content4-right-grids mb-lg-3 mb-4">
                            <div class="col-md-2 content4-right-icon">
                                <div class="content4-icon">
                                    <span class="fa fa-location-arrow" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-10 content4-right-info">
                                <h6>
                                    <a href="#">
                                        Адреса
                                    </a>
                                </h6>
                                <p style="color: black">

                                    вулиця Комарова, 27, Умань, Черкаська область, 20301

                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="content-left col-lg-8 col-md-8 col--12 pl-lg-4">



                        <div class="img-fluid mt-3">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2629.8055804236324!2d30.218425815671132!3d48.76650897927858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1cb804ada618fdea!2z0KHRgtC-0LzQsNGC0L7Qu9C-0LPRltGP!5e0!3m2!1sru!2sua!4v1621519341119!5m2!1sru!2sua" width="750" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </section>
</div>





