




<div class="page">
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">

                <h1 class="intro__title"> Всі види <br>стоматологічних <br>послуг</h1>
                <a>@Html.ActionLink("Записатися на консультацію", "SendingData", "Home", new { @class = "btn1" })</a>
            </div>
        </div>


    </div>


    <section class="section">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Коротко про переваги нашого кабінету</h3>
                <h2 class="section__title">Наші переваги</h2>
                <div class="section__text">
                    <p>
                        У місті Умань є багато клінік та стоматологічних кабінетів.
                        Ми вирішили розповісти Вам про те, що вирізняє нас з-поміж усіх, чому наші пацієнти 
                        довіряють саме нам своє здоров'я і турботу про свою посмішку.
                    </p>
                </div>
            </div>
            <div class="wedo">
                <div class="wedo__item">
                    <img class="wedo__img" src="~/img/wedo1.jpg" alt="wedo">
                </div>
                <div class="wedo__item">
                    <div class="accordion">
                        <div class="accordion__item active" data-collapse="#wedo_1">
                            <div class="accordion__header">
                                <img src="~/img/wedo111.png" alt="" class="accordion__icon">
                                <div class="accordion__title">Турбота про кожного пацієнта</div>
                            </div>
                            <div class="accordion__content" id="wedo_1">
                                <p>
                                    У нас працюють лише  професіонали своєї справи, клінічний досвід яких складає від 5 до 15 років.
                                    Ми лікуємо зуби своїх пацієнтів так, як лікували б їх собі або своїм близьким.
                                    Саме такий підхід до процесу лікування застосовується у передових європейських клініках.
                                    У нас працюють лише професіонали своєї справи, клінічний досвід яких складає від 5 до 15 років.
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item" data-collapse="#wedo_2">
                            <div class="accordion__header">
                                <img src="~/img/wedo222.png" alt="" class="accordion__icon">
                                <div class="accordion__title">Якісні матеріали</div>
                            </div>
                            <div class="accordion__content" id="wedo_2">
                                <p>
                                    Ми працюємо тільки з дорогими європейськими, японськими й американськими матеріалами,
                                    які спеціально замовляємо зза кордону, так як від їх якості на даний час залежить дуже багато.
                                    Ми укомплектовані обладнанням за останнім словом техніки.

                                </p>
                            </div>
                            </div>
                        
                            <div class="accordion__item" data-collapse="#wedo_3">
                                <div class="accordion__header">
                                    <img src="~/img/wdo333.png" alt="" class="accordion__icon">
                                    <div class="accordion__title">Лікування без болю</div>
                                </div>
                                <div class="accordion__content" id="wedo_3">
                                    <p>
                                        
                                        Наші клієнти завжди спокійно йдуть до нас, адже впевнені у безболісному 
                                        та якісному лікуванні з турботою про кожного.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        
    </section>





<div class="w3l-open-block-services py-5" >
    <div class="container py-lg-5 pt-4">
        <div class="section__header">
            <h3 class="section__suptitle">Чотири кроки до чудової посмішки</h3>
           
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card text-center" style="margin-right: 10px">
                    <div class="icon-holder">
                        <span class="fa fa-signal service-icon" aria-hidden="true"></span>
                    </div>
                    <h4 class="mission">Перший крок</h4>
                    <div class="open-description">
                        <p>Чистіть зуби не менше 2 разів на день зубною пастою із вмістом фтору,
                            після сніданку і перед сном. Фтор, потрапляючи в ротову порожнину, абсорбується емаллю зуба,
                            що сприяє її ремінералізації та запобігає розвитку карієсу. Також фтор допомагає зупинити процес руйнування зуба.
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-md-0 mt-5 pt-md-0 pt-3">
                <div class="card text-center" style="margin-right: 10px">
                    <div class="icon-holder">
                        <span class="fa fa-assistive-listening-systems service-icon" aria-hidden="true"></span>
                    </div>
                    <h4 class="mission">Другий крок</h4>
                    <div class="open-description">
                        <p>Використовуйте зубну нитку щодня. На сьогоднішній день зубні нитки — основний засіб для очищення
                            міжзубних проміжків (апроксимальних поверхонь) зубів.
                            Використовувати її бажано після кожного прийому їжі, або, як мінімум, під час вечірнього чищення зубів.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5 pt-lg-0 pt-3">
                <div class="card text-center" style="margin-right: 10px">
                    <div class="icon-holder">
                        <span class="fa fa-diamond service-icon" aria-hidden="true"></span>
                    </div>
                    <h4 class="mission">Третій крок</h4>
                    <div class="open-description">
                        <p>Обмежуйте кількість перекусів протягом дня. Коли приходить час перекусити,
                            не розтягуйте їжу на тривалий час. Також стежте за тим, скільки солодощів з'їдає ваша дитина!
                            Зуби дітей більш схильні до утворення карієсу. Ранній дитячий карієс може стати дуже серйозною проблемою. 
                            </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5 pt-lg-0 pt-3">
                <div class="card text-center" style="margin-right: 10px">
                    <div class="icon-holder">
                        <span class="fa fa-magic service-icon" aria-hidden="true"></span>
                    </div>
                    <h4 class="mission">Четвертий крок</h4>
                    <div class="open-description">
                        <p>Регулярно проходьте огляди у стоматолога. Стоматолог – це ваш помічник на шляху до сліпучої посмішки.
                            Необхідно щоб ви і ваші близькі регулярно відвідували стоматолога. 
                            Перший візит вашої дитини до стоматолога має відбутися до того, як їй виповниться 3 роки або навіть раніше.</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="section section--clients">
    <div class="container">

        <div class="section__header">
            <h3 class="section__suptitle">Задоволені клієнти</h3>
            <h2 class="section__title">Що про нас кажуть люди</h2>

        </div>


        <div class="clients">
            <div class="clients__item">
                <img class="clients__photo" src="~/img/client1.jpg" alt="">
                <div class="clients__content">
                    <div class="clients__name">Андрій</div>
                    
                    <div class="clients__text">
                        Я і моя дружина вже кілька років користуємося послугами даної стоматології.
                        Чисте приміщення, ввічливий персонал. Ставили пломби і видаляли зуби мудрості. 
                        Лікування пройшло легко і безболісно. Рекомендуємо.
                    </div>

                </div>
            </div>

            <div class="clients__item">
                <img class="clients__photo" src="~/img/client2.jpg" alt="">
                <div class="clients__content">
                    <div class="clients__name">Сергій</div>
                 
                    <div class="clients__text">
                        Відмінна стоматологія! Все сподобалося: чисто, затишно і не боляче.
                        Лікар мене постійно запитував чи все добре, так як я птребував підтримки:
                        відчувається професіоналізм. Рекомендую!
                    </div>

                </div>
            </div>
            <div class="clients__item">
                <img class="clients__photo" src="~/img/review_photo.jpg" alt="">
                <div class="clients__content">
                    <div class="clients__name">Микола</div>
                    
                    <div class="clients__text">
                        Відвідав клініку вперше. Робив профчистку зубів.
                        Дуже задоволений роботою лікаря. Швидко, якісно, безболісно, а головне тепле та 
                        привітне відношення дозволяє себе відчувати комфортно. Отримав консультацію про стан зубів 
                        і професійні рекомендації по догляду за ними
                        і якими пастами користуватися. До цього ніхто такої інформації 
                        не надавав. Дуже вдячний. Рекомендую всім!
                    </div>

                </div>
            </div>
            <div class="clients__item">
                <img class="clients__photo" src="~/img/client4.jpg" alt="">
                <div class="clients__content">
                    <div class="clients__name">Станіслав</div>
                   
                    <div class="clients__text">
                        Широкопрофільна клініка. Висока якість обслуговування, чіткий підбір матеріалів.
                        Окрім стомат послуг, ви можете розраховувати на косметологічні процедури та навіть консультації приватного психолога.
                        Завжди доброзичливі спеціалісти. Приємно спілкуватися!
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
 </div>