




<div class="page">
  
    <section class="grids-1 py-5" style="background-image: url('../img/bg__service.jpg'); background-position: center; background-repeat: no-repeat;">
        <div class="grids py-lg-5">
            <div class="container">
               

                <div class="row text-center mt-lg-5 mt-4">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="column">
                            <a href="#single"><img src="~/images/g1.jpg" alt="" class="img-responsive" /></a>
                            <h3 class="section__suptitle">Periodontal Therapy</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mt-sm-0 mt-4">
                        <div class="column">
                            <a href="#single"><img src="~/images/g2.jpg" alt="" class="img-responsive" /></a>
                            <h3 class="section__suptitle">Periodontal Therapy</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mt-md-0 mt-4">
                        <div class="column">
                            <a href="#single"><img src="~/images/g3.jpg" alt="" class="img-responsive" /></a>
                            <h3 class="section__suptitle">Periodontal Therapy</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mt-lg-0 mt-4">
                        <div class="column">
                            <a href="#single"><img src="~/images/g4.jpg" alt="" class="img-responsive" /></a>
                            <h3 class="section__suptitle">Periodontal Therapy</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="column">
                            <a href="#single"><img src="~/images/g1.jpg" alt="" class="img-responsive" /></a>
                            <h3 class="section__suptitle">Periodontal Therapy</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mt-sm-0 mt-4">
                        <div class="column">
                            <a href="#single"><img src="~/images/g2.jpg" alt="" class="img-responsive" /></a>
                            <h3 class="section__suptitle">Periodontal Therapy</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mt-md-0 mt-4">
                        <div class="column">
                            <a href="#single"><img src="~/images/g3.jpg" alt="" class="img-responsive" /></a>
                            <h3 class="section__suptitle">Periodontal Therapy</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mt-lg-0 mt-4">
                        <div class="column">
                            <a href="#single"><img src="~/images/g4.jpg" alt="" class="img-responsive" /></a>
                            <h3 class="section__suptitle">Periodontal Therapy</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>