<h2 class="sidebar-title" >Популярные статьи </h2>
<div class="col-md-12 col-sm-12" style="margin-top: 10%;">
    {% for post in posts %}
    <div class="portfolio-item popular" style="margin-top: 10%">
                                <div class="col-md-4">
                                    {% if post.photo %}
                                    <img src="{{post.photo.url}}" alt="{{ post.title }}">
                                    {% else %}
                                    <img src="https://picsum.photos/id/1060/300/201/?blur=2" alt="{{ post.title }}">
                                    {% endif %}
                                </div>
                                <div class="portfolio-text">
                                    <div>
                                    <h5><a href="{{post.get_absolute_url}}">{{ post.title }}</a></h5>
                                    </div>
                                    <div>
                                     <p>Автор: {{ post.author }} <span>|</span>{{ post.created_at }}</p>
                                    </div>
                                </div>
                            </div>

    {% endfor %}
</div>