{% extends 'base.html' %}
{% load static %}
{% load sidebar %}
{% block title %} Команда {% endblock %}

{% block content %}
<section class="single-blog-area">
            <div class="container">
                <div class="row">
                   <div class="col-md-12">
                    <div class="border-top">
                        <div class="col-md-8 col-lg-8 col-sm-8">
                            <h2 style="text-align: center">Список команды</h2>
                        <div class="row">
                            {% for player in players %}
                           <div class="col-md-4 col-sm-6" style="margin-bottom: 15px">
                              <div class="product-grid" style="border: #ae1111 solid;
                              border-radius: 5px; text-align: center">
                                  <div class="product-image">
                                        {% if player.photo %}
                                        <img class="pic-1" src="{{player.photo.url}}">
                                        <img class="pic-2" src="{{player.photo.url}}">
                                        {% else %}
                                    <img src="https://picsum.photos/id/1060/300/201/?blur=2" alt="{{ post.title }}">
                                        {% endif %}
                                  </div>
                                 <div class="product-content">
                                     <div class="price discount">
                                         <a href="{{ player.get_absolute_url }}">{{ player.title }}</a>
                                     </div>
                                     <div class="price discount">{{ player.country }}</div>
                                     <div class="price discount">{{ player.position }}</div>
                                 </div>
                              </div>
                           </div>
                            {% endfor %}
                           </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="newsletter">
                            <h2 class="sidebar-title">Поиск статьи</h2>
                            <form action="{% url 'search' %}" method="get">
                                <input type="text" name="s" placeholder="Поиск...">
                                <input type="submit" value="Поиск">
                            </form>
                        </div>

                        {% get_popular 3 %}
                    </div>
                    <div class="col-md-4 col-sm-4">
                       {% get_tags %}

                    </div>
                    </div>
                </div>
    </div>
</section>

{% endblock %}